<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="loginForm" [hidden]="!isVisible">
        <h1>Votre pseudo</h1>
        <input type="text" [(ngModel)] = "username"/>
    
        <h1>Difficulté</h1>
        <select [(ngModel)] = "levelMode">
          <option value="easy">easy</option>
          <option value="medium">medium</option>
          <option value="hard">hard</option>
        </select>
        <div>
          <input class="smallCbk" type="checkbox" value="false"/>
          Sauvegarder mes informations
        </div>
      
      <div *ngIf="errors && errors.length > 0">
        <div *ngFor="let e of errors">
          <p class="errors">{{e}}</p>
        </div>
      </div>
      <div>
        <button class="mainBtn" (click)="startGame()">Commencer</button>
      </div>
    </div>

    <div id="loginForm" [hidden]="isVisible">
        <h2>Bienvenue {{username}}</h2>
        <h1>Quelle est l'origine du cornichon ?</h1>
        <div id="btnGroup">
          <button type="submit" (click)="showBtnNxtQuestion()">Réponse A</button>
          <button type="submit" (click)="showBtnNxtQuestion()">Réponse B</button>
          <button type="submit" (click)="showBtnNxtQuestion()">Réponse C</button>
          <button type="submit" (click)="showBtnNxtQuestion()">Réponse D</button>
        </div>
        <button [hidden]="!isBtnVisible" class="mainBtn">Question suivante</button>
    </div>
</div>

</ion-content>
